

#cards_container {
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.load-more {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.load-more:hover {
    background-color: #0056b3;
}
